@charset "UTF-8";

:root {
    --fonte1: 'Passion One', cursive;
    --fonte2: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    min-height: 100vh;
    text-align: left;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1em;
    padding-bottom: 50px;
}

header h1 {
    font-family: var(--fonte1);
    font-weight: bold;
    font-size: 151px;
    padding-top: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

article {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}
.parallax {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.parallax p {
    background-color: rgba(0, 0, 0, 0.342);
    width: 580px;
}

p {
    font-family: var(--fonte2);
    font-size: 47px;
}

#img1 {
    background: black url(../images/background001.jpg) center center / cover no-repeat fixed;
    color: white;
    width: 100%;
}

#img1 p{
    padding-left: 30px;
}

#img2 {
    background: black url(../images/background002.jpg) center center / cover no-repeat fixed;
    color: white;
    width: 100%;
}

#img2 p{
    padding-left: 30px;
}

