@charset "UTF-8";

:root {
    --fonte1: 'Passion One', cursive;
    --fonte2: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    min-height: 100vh;
    text-align: left;
    background-color: darkgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-family: var(--fonte1);
    font-weight: bold;
    font-size: 10vw;
    padding-top: 50px;
}

header h1:hover {
    color: gray;
    transition: 1s;
    text-decoration: underline;
}

header p {
    font-weight: bold;
    padding-bottom: 50px;
}

article {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    background-color: white;
    font-family: var(--fonte2);
    font-size: 3.5vw;
}

.parallax {
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: white;
}

.parallax p {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.199);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.39);
    width: 50vw;
}

header a,
footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

#img1 {
    background: black url(../images/background001.jpg) center center / cover no-repeat fixed;
    color: white;
}

#img1 p {
    padding-left: 30px;
}

#img2 {
    background: black url(../images/background002.jpg) center center / cover no-repeat fixed;
    color: white;
}

#img2 p {
    padding-left: 30px;
}

footer {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer>p {
    font-size: 1em;
    text-align: center;
    color: white;
}