@charset "UTF-8";

:root {
    --fonte1: 'Passion One', cursive;
    --fonte2: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    min-height: 100vh;
    text-align: left;
}

header {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

header h1 {
    font-family: var(--fonte1);
    font-weight: bold;
    font-size: 136px;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

article {
    font-family: var(--fonte2);
    font-size: 47px;
    line-height: 95.6px;
}

#s1 {
    position: relative;
}

#img1 {
    position: absolute;
    background: black url(../images/background001.jpg) center center / cover no-repeat fixed;
    color: white;
    width: 100%;
}

#s2 {
    position: relative;
}

#img2 {
    position: absolute;
    background: black url(../images/background002.jpg) center center / cover no-repeat fixed;
    color: white;
    width: 100%;
}

p {
    margin-left: 30px;
    line-height: 95.6px;
}

p.estrofe {
    background-color: black;
    width: 550px ;
}

p.estrofe2 {
    background-color: rgba(0, 0, 0, 0.281);
    width: 550px;
}