@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #D52323, #AA3939) ;
}

main{
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 15px #532a2a;
}

h1{
    color: #804040;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(95, 48, 48, 0.767);
}

h2{
    color: #FF0000;
}

p{
    text-align: justify;
}